<!DOCTYPE html>
<html>
<head>
    <title>My Django Page</title>
</head>
<body style="background-color: lightblue;">

    <h1>Welcome to library</h1>
    <p>This is your destination for the the books you want</p>
    <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="books" placeholder="books" aria-label="books">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
</body>
</html>
