<!DOCTYPE html>
<html>
<head>
    <title>My Django Page</title>
</head>
<body style="background-color: darkgrey;">

    <h1>Enrollment page</h1>
    <h3>WANT TO MEET AGAIN</H3>
    <p>FILL THE ENROLLMENT FORM</p>
    <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="ENROLLMENT" placeholder="ENROLLMENT" aria-label="ENROLLMENT">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <div class="container-fluid px-0">
    <img src="/static/library_4.avif" class="d-block w-100 mx-0" alt="...">
    </div> 
  </form>
</nav>
</body>
</html>