<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
</head>
<body style="background-color: darkgrey;">

    <h1>All the pyqs are within me</h1>
    
    <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="PYQS" placeholder="PYQS" aria-label="PYQS">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   
    <div class="container-fluid px-0">
    <img src="/static/library_10.avif" class="d-block w-100 mx-0" alt="...">
        
    </div>
  </form>
</nav>
</body>
</html>